# Outputs do stack personal-trainer-prod (ver deploy)
VITE_API_URL=https://arrrexx5qh.execute-api.us-east-1.amazonaws.com/prod
VITE_COGNITO_USER_POOL_ID=us-east-1_JzbEnrPkk
VITE_COGNITO_CLIENT_ID=73vo3s2epca6grl19qq50armfe
